includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    level: 5
    paths:
        - app
        - config
        - database
        - routes
        - tests
    excludePaths:
        - node_modules
        - vendor
    
    ignoreErrors:
        - '#Match arm comparison between .* and .* is always true#'


